@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    @RenderSection("Styles", required: false)
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ForumWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ForumWebApp.styles.css" asp-append-version="true" />
    <style>
        html, body {
            height: auto;
            min-height: 100%;
        }

        body {
            display: flex;
            flex-direction: row;
        }
    </style>
</head>
<body class="d-flex min-vh-100">
    
    <!-- Sidebar -->
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <span class="fs-4">Sidebar</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto dropdown">
            <li class="nav-item">
                <a href="/" class="nav-link active text-white" aria-current="page">
                    Home
                </a>
            </li>
            <li><a  href="/product" class="nav-link text-white">Games</a></li>
            <li><a href="/studio" class="nav-link text-white">Companies</a></li>
            <li><a href="/category" class="nav-link text-white dropdown-item">Categories</a></li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://i.pinimg.com/736x/7f/ce/1c/7fce1c209f6ab2108ab65eee530d348f.jpg" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Tunga</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>
    </div>

    <!-- Main Content -->
    <div class="flex-grow-1 p-4">
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
