@model ForumWebApp.ViewModels.CategoryDetailViewModel
@{
    ViewData["Title"] = "Categories";

}

<section class="hero">
    <div class="content">
        <fieldset>
            <legend>@Model.Category.Name</legend>

            <div class="album py-5 bg-white">
                <div class="container">

                    <div class="row">
                        @foreach (var item in Model.Category.ProductCategories)
                        {
                            <div class="col-md-3">
                                <div class="card mb-4 box-shadow">
                                    <img class="card-img-top" src="@item.Product.Image" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">@item.Product</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <a asp-controller ="product" asp-action="Detail" asp-route-id="@item.Product.Id" type="button" class="btn btn-sm btn-outline-secondary">Review</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        } 
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
</section>

@section Scripts {
    <script>

    </script>
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
}
