* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, html {
    height: 100%;
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}


.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 10px;
}

.content {
    width: 100%;
    max-width: 1200px;
    min-width: 800px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 20px;
    text-align: center;
}


legend {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow: hidden;
    background-color: white;
    height: 50px;
    margin: 0 auto;
}

    .search-box input {
        min-width: 0;
        flex: 1;
        border: none;
        outline: none;
        padding: 0 20px;
        font-size: 16px;
        background: white;
        color: black;
    }

.btn-search {
    background-color: black;
    border: none;
    width: 60px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

